{% extends 'layout.html' %}

{% block content %}
    <h1>ToDo List</h1>
    {% if todos %}
        <ul>
            {% for todo in todos %}
                <li {% if todo.priority != 0 %}class="urgent"{% endif %}>
                    {{ todo.name }}
                    <span class="edit">
                        <a href="/edit/{{ todo.id }}/">edit</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No todos for today. Create one <a href="/new">here</a>!</p>
    {% endif %}
{% endblock %}
