ul {
    width: 200px;
}
li .edit {
    display: none;
    padding: 0 0 0 1em;
    float: right;
}
li.done {
    text-decoration: line-through;
}
li:hover .edit {
    display: inline;
}
h1 a {
    color: #ccc;
    font-weight: bold;
}